{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}

{% block content %}
<div class="content-main">
  {% for product in products %}
    <a class="detail-link" href="{% url 'detail_view' product.pk %}">
      <div class="card-custom">
        <div class="img-container">
          <img class="image-castom" src="{{product.image}}" alt="image">
        </div>
        <div class="card-title-custom">
          <p> {{product.product}} </p>
        </div>
        <div class="category">
          <p class="category-text">{{ product.get_category_display }}</p>
        </div>
        <div class="price">
          <p class="price">Цена: {{product.price}}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock content %}

